#home {
    background-color: #F88379;
    text-align: center;
    padding: 50px;
}

#home img {
    max-width: 80%;
    height: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    text-align: center;
}

nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    transition: color 0.3s;
}

nav a:hover {
    color: #AA336A;
}

main {
    padding: 20px;
}

section {
    display: block;
    margin-bottom: 40px;
    padding: 20px;
    height: 100vh;
    margin-bottom: 0;
}

/*Style for About Us */
#about {
    background-color: #F69FA5;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    background-color: #F3CFC6;
    max-width: 500px;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Style for Projects */
#projects {
    background-color: #E46273;
    text-align: center;
    font-size: 18px;
}

#projects h2{
    color: white;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #F3CFC6;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}

.square {
    width: 45%;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.rectangle {
    width: 45%;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
}


/* Style for Resumes */
#resume {
    background-color: #FA8072;
    text-align: center;
}

#resume h2 {
    color: white;
}

.resume-container {
    display: flex;
    justify-content: space-around;
}

.resume {
    width: 45%;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}

.resume h3 {
    text-align: center;
}

#resume-d {
    background-color: #F3CFC6;
    text-align: left;
    border-radius: 10px;
}

#resume-l {
    background-color: #F3CFC6;
    text-align: left;
    border-radius: 10px;
}

.resume-section {
    margin-bottom: 15px;
}

.resume-section h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 4px;
}

.resume-section p {
    line-height: 1.6;
}

.resume-section strong {
    color: #555;
}

/* Style for Contacts */
#contacts {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

.contact {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 45%;
}

h2 {
    color: #333;
}

html {
    scroll-behavior: smooth;
}

footer {
    text-align: center;
}